<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html layout:decorator="layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
</head>
<body>
<div layout:fragment="content">
    <div class="panel col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Login Form</div>
            <div class="panel-body">
                <form action="home" method="post" th:action="@{/login}">
                    <div class="form-group has-feedback">
                        <input class="form-control" name="username" placeholder="Email"
                               type="email" /> <span
                            class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" name="password" placeholder="Password"
                               type="password" /> <span
                            class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            <input name="remember-me" type="checkbox"> Remember Me
                        </label>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-offset-8 col-xs-4">
                            <button class="btn btn-primary btn-block btn-flat" th:text="#{label.login}"
                                    type="submit">LogIn</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-danger alert-dismissable"
                                 th:if="${param.error}">
                                <p>
                                    <i class="icon fa fa-ban"></i> <span
                                        th:text="#{error.login_failed}">Invalid Email and
           Password.</span>
                                </p>
                            </div>
                            <div class="alert alert-info alert-dismissable"
                                 th:if="${param.logout}">
                                <p>
                                    <i class="icon fa fa-info"></i> <span
                                        th:text="#{info.logout_success}">You have been logged
           out.</span>
                                </p>
                            </div>
                            <div class="alert alert-warning alert-dismissable"
                                 th:if="${msg!=null}">
                                <p>
                                    <i class="icon fa fa-warning"></i> <span th:text="${msg}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>