<!--
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="User account registration" />
    <meta name="author" content="Amir Boroumand" />
    <link rel="icon" href="favicon.ico" />

    <title>Registration Page</title>

    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />

    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <h4>New User Registration</h4>

        <form autocomplete="off" action="#" th:action="@{/register}"
              th:object="${attorney}" method="post" class="m-t" role="form"
              data-toggle="validator">

            <div th:if="${confirmationMessage}" class="alert alert-success"
                 role="alert" th:text=${confirmationMessage}></div>

            <div th:if="${errorMessage}"
                 class="alert alert-danger" role="alert"
                 th:text="${errorMessage}"></div>


            <div th:if="${#fields.hasErrors('firstName')}"
                 th:errors="*{firstName}"
                 class="validation-message alert alert-danger" role="alert"></div>

            <div th:if="${#fields.hasErrors('lastName')}"
                 th:errors="*{lastName}"
                 class="validation-message alert alert-danger" role="alert"></div>

            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                 class="validation-message alert alert-danger" role="alert"></div>

            <div class="form-group input-group has-feedback">
                <label th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}" class="validation-message"></label>
                <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

                <input type="text" th:field="*{firstName}"
                       placeholder="First Name" class="form-control" required />
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
                <input type="text" th:field="*{lastName}"
                       placeholder="Last Name" class="form-control" required />
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
                <input type="email" th:field="*{email}"
                       placeholder="Email Address" class="form-control"
                       data-error="This email address is invalid" required />
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>

            </div>

            <button type="submit"
                    class="btn btn-primary block full-width m-b">Register</button>

        </form>

    </div>
</div>

&lt;!&ndash; jQuery&ndash;&gt;
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

&lt;!&ndash; Bootstrap &ndash;&gt;
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

&lt;!&ndash; Bootstrap Validator plugin &ndash;&gt;
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</body>

</html>-->






<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css"
          rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form class="form-horizontal" method="POST" role="form" th:action="@{/signup}" th:object="${attorney}">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register New User</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="firstName">First Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input autofocus class="form-control" id="firstName" placeholder="First Name"
                               required th:field="*{firstName}" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="lastName">Last Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input autofocus class="form-control" id="lastName" placeholder="Last name"
                               required th:field="*{lastName}" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">Email</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input autofocus class="form-control" id="email" placeholder="userchoiceinfo@example.com"
                               required th:field="*{email}" type="text">
                    </div>
                </div>
            </div>
          <div class="col-md-3">
             <div class="form-control-feedback">
               <span class="text-danger align-middle" th:errors="*{email}"
                     th:if="${#fields.hasErrors('email')}"></span>
             </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input class="form-control" id="password" placeholder="Password" required
                               th:field="*{password}" type="password">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span class="text-danger align-middle" th:errors="*{password}"
                      th:if="${#fields.hasErrors('password')}"></span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success" type="submit"><i class="fa fa-user-plus"></i> Register</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>