<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

        <meta charset="utf-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Account registration" name="description" />
        <link href="favicon.icon" rel="icon" />

        <title>LegalMatters</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css"
              rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- Bootstrap Validator plugin -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</head>

<body class="gray-bg">

 <div class="container middle-box text-center loginscreen animated fadeInDown">

                        <h4>New User Registration</h4>

   <form action="#" autocomplete="off" class="m-t" data-toggle="validator" method="post" role="form"
           th:action="@{/registration}" th:object="${user}">

     <div class="row">

        <div class="col-md-3"></div>

           <div class="col-md-6">

               <div class="alert alert-success" role="alert" th:if="${confirmationMessage}"
                    th:text=${confirmationMessage}></div>

               <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>

               <div class="validation-message alert alert-danger" role="alert"
                    th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></div>

               <div class="validation-message alert alert-danger" role="alert"
                    th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></div>

               <div class="validation-message alert alert-danger" role="alert"
                    th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>

           </div>

     </div>

     <div class="row">

           <div class="col-md-6">

               <div class="form-group input-group has-feedback">

                    <label class="validation-message" th:errors="*{firstName}"
                           th:if="${#fields.hasErrors('firstName')}"></label>

                    <span class="input-group-addon">

                        <span class="glyphicon glyphicon-user"></span>
                  </span>

                   <input class="form-control" placeholder="First Name" required th:field="*{firstName}" type="text" />

                            <span aria-hidden="true" class="glyphicon form-control-feedback"></span>
               </div>

           </div>

         <div class="col-md-3"></div>

     </div>

      <div class="row">

           <div class="col-md-6">

               <div class="form-group input-group has-feedback">

                  <span class="input-group-addon">
                         <span class="glyphicon glyphicon-user"></span>
                  </span>
                     <input class="form-control" placeholder="Last Name" required th:field="*{lastName}" type="text" />
                            <span aria-hidden="true" class="glyphicon form-control-feedback"></span>

               </div>

           </div>

          <div class="col-md-3"></div>

      </div>

      <div class="row">

           <div class="col-md-6">

               <div class="form-group input-group has-feedback">

                  <span class="input-group-addon">
                       <span class="glyphicon glyphicon-envelope"></span>
                  </span>

                      <input class="form-control" data-error="This email address is invalid" placeholder="Email Address" required
                             th:field="*{email}" type="email" />

                    <span aria-hidden="true" class="glyphicon form-control-feedback"></span>

               </div>

           </div>

          <div class="col-md-3"></div>

      </div>

       <div class="row">

           <div class="col-md-3">

                <button class="btn btn-primary block full-width m-b" type="submit">Register</button>

           </div>

           <div class="col-md-6"></div>

       </div>

   </form>

 </div>

</body>

</html>