<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Welcome Page" name="description" />
    <link href="favicon.icon" rel="icon" />

    <title>LegalMatters</title>

   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css"
          rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body class="gray-bg">

        <div class="middle-box text-center loginscreen animated fadeInDown">
                    <div>

                        <h4>Legal Matters</h4>
                        <br>
                        <h4>You are welcome to Legal Matters, We are here to Serve you right!</h4>


                    </div>
        </div>

</body>

</html>