<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Welcome Page" name="description" />
    <link href="favicon.icon" rel="icon" />

    <title>LegalMatters</title>

   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css"
          rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="container">

            <div class="row">

                    <div class="col-md-10 middle-box navbar-header inline text-center animated">

                           <h3> <a class="navbar-brand" href="#" th:href="@{/}">Legal Matters and Issues</a> </h3>

                    </div>

            </div>

            <div class="row">

                   <div>
                       <a class="col-md-2" th:href="@{/}">Home</a>

                       <a authorize="isAnonymous()" class="col-md-4"  th:href="@{/login}">Login</a>

                       <a class="col-md-4" th:href="@{/registration}">SignUp</a>

                       <a authorize="isAuthenticated()" class="col-md-4" th:href="@{/logout}">Logout</a>

                   </div>

            </div>

            <div class="row">

                   <div class="middle-box text-center loginscreen animated fadeInDown">

                        <br>

                            <h4>Hi <span th:utext="${firstName}"></span>, this is the home page.</h4>

                       <br>

                             <h6>You are welcome to Legal Matters, We are here to Serve you right!</h6>

                        <br>


                       <i class="icon fa fa-info"></i>

                       <span th:text="#{info.logout_success}">You have been logged out.</span>

                   </div>

            </div>

    </div>

</body>

</html>
